/data/
/log

# Home dirs
/home/a/
/home/b/
/home/c/
/home/d/
/home/e/
/home/f/
/home/g/
/home/h/
/home/i/
/home/j/
/home/k/
/home/l/
/home/m/
/home/n/
/home/o/
/home/p/
/home/q/
/home/r/
/home/s/
/home/t/
/home/u/
/home/v/
/home/w/
/home/x/
/home/y/
/home/z/
