# Keep all .keep files

# Log files
log
!/doc/driver/efun/floats/log
!/doc/driver/efun/all/log
/log/*
!/log/.keep
!/log/*/.keep

/home/*
!/home/*/.keep

!.keep
# Data files
*.o
journal.*

# Customised configuration files
/adm/etc/config.json
