# Log files
log
!/doc/driver/efun/floats/log
!/doc/driver/efun/all/log
/log/*
!/log/.keep
!/log/*/.keep
#/doc/autodoc/

/home/*
!/home/*/.keep

# Keep all .keep files
!.keep

# Temporary data
/tmp/*

# Data files
/open/
/data/
*.o
journal.*
*.sqlite3
*.tbl

# Install status file. The existence of this file indicates that the
# the first user to login has been made a superuser. But, we do not
# want to keep the file in the repository.
/adm/etc/first_user

# Customised configuration files
/adm/etc/config.json
/adm/etc/mssp.json
lpc-config.json
.vscode/

# Alarm files
adm/etc/alarms/*.txt

# Drive stuff
/adm/dist/bin/
/include/driver/
